.page {
    min-width: 320px;
    font-family: Inter, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 45px 0 60px 0;
}

@media screen and (max-width: 1279px){
    .page {
        padding: 28px 0 36px 0;
    }
}