.popup__info-container {
    width: 430px;
    margin: 0;
    padding: 34px 0 37px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    position: relative;
}

@media screen and (max-width: 1279px){
    .popup__info-container {
         width: 282px;
         padding: 25px 0 25px 0;
    } 
 }