.popup__container {
    width: 430px;
    margin: 0;
    padding: 34px 0 37px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0;
    position: relative;
}

@media screen and (max-width: 1279px){
    .popup__container {
         width: 282px;
         padding: 25px 0 25px 0;
    } 
 }