.popup__button {
    width: 358px;
    height: 50px;
    margin: 18px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 2px;
    border: none;
}

.popup__button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width: 1279px){
    .popup__button {
        width: 238px;
        height: 46px;
        margin: 15px 0 0 0;
        font-size: 14px;
        line-height: 16px;
    }
}