.profile__add {
    margin: 0;
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: black;
    border: none;
    border: 2px solid white;
    border-radius: 2px;
}
.profile__add:hover {
    opacity: 60%;
    cursor: pointer;
}
@media screen and (max-width: 1279px){
    .profile__add {
        margin: 36px 0 0 0;
        width: 282px;
    }
}