.popup__close {
    position: absolute;
    padding: 0;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px; 
    border: none;
    background-color: white;
    background: transparent;
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}
@media screen and (max-width: 1279px){
    .popup__close {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px; 
    }
}