@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/content/content.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__info-container/profile__info-container.css");
@import url("../blocks/profile/__logo/profile__logo.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__info-title/profile__info-title.css");
@import url("../blocks/profile/__info-subtitle/profile__info-subtitle.css");
@import url("../blocks/profile/__info-item/profile__info-item.css");
@import url("../blocks/profile/__edit/profile__edit.css");
@import url("../blocks/profile/__edit-photo/profile__edit-photo.css");
@import url("../blocks/profile/__add/profile__add.css");
@import url("../blocks/profile/__add-photo/profile__add-photo.css");
@import url("../blocks/photo/photo.css");
@import url("../blocks/photo/__item/photo__item.css");
@import url("../blocks/photo/__item-picture/photo__item-picture.css");
@import url("../blocks/photo/__item-info/photo__item-info.css");
@import url("../blocks/photo/__item-info-delete/photo__item-info-delete.css");
@import url("../blocks/photo/__item-info-text/photo__item-info-text.css");
@import url("../blocks/photo/__item-info-button/photo__item-info-button.css");
@import url("../blocks/photo/__item-info-button_active/photo__item-info-button_active.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_edit/popup_edit.css");
@import url("../blocks/popup/_add/popup_add.css");
@import url("../blocks/popup/__info/popup__info.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__button/popup__button.css");
@import url("../blocks/popup/__button/_inactive/popup__button_inactive.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__close-icon/popup__close-icon.css");
@import url("../blocks/popup/__heading/popup__heading.css");
@import url("../blocks/popup/__input/popup__input.css");
@import url("../blocks/popup/__input/_text/popup__input_text_name.css");
@import url("../blocks/popup/__input/_text/popup__input_text_subtitle.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__input/_text/poput__input_text_place-name.css");
@import url("../blocks/popup/__input/_text/popup__input_text_place-url.css");
@import url("../blocks/popup/__input/_type/popup__input_type_error.css");
@import url("../blocks/popup/_image/popup_image.css");
@import url("../blocks/popup/__photo-container/popup__photo-container.css");
@import url("../blocks/popup/__photo/popup__photo.css");
@import url("../blocks/popup/__caption/popup__caption.css");
@import url("../blocks/popup/_dark/popup_dark.css");
@import url("../blocks/popup/__error/popup__error.css");
@import url("../blocks/popup/__error/_visible/popup__error_visible.css");
@import url("../blocks/popup/__field/popup__field.css");