.footer {
    width: 880px;
    margin: 66px 0 0 0;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #545454;
    ;
}

@media screen and (max-width: 1279px){
    .footer {
        width: 282px;
        margin: 48px 0 0 0;
        font-size: 14px;
        line-height: 16px;
    }
}