.photo__item-info-button {
    margin: 30px 0 0 0;
    padding: 0;
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/Like.svg);
}

.photo__item-info-button:hover {
    opacity: 50%;
    cursor: pointer;
}